* {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 640px) {
  * {
    font-size: 14px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 3px;
  font-weight: 300;
}

p {
  margin-bottom: 16px;
}

h1 {
  font-size: 62px;
}
@media only screen and (max-width: 900px) {
  h1 {
    font-size: 58px;
  }
}
@media only screen and (max-width: 550px) {
  h1 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 360px) {
  h1 {
    font-size: 46px;
  }
}

h2 {
  font-size: 52px;
}
@media only screen and (max-width: 900px) {
  h2 {
    font-size: 46px;
  }
}
@media only screen and (max-width: 550px) {
  h2 {
    font-size: 42px;
  }
}
@media only screen and (max-width: 360px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font-size: 40px;
}
@media only screen and (max-width: 900px) {
  h3 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 550px) {
  h3 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 360px) {
  h3 {
    font-size: 27px;
  }
}

h4 {
  font-size: 36px;
}
@media only screen and (max-width: 900px) {
  h4 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 550px) {
  h4 {
    font-size: 27px;
  }
}
@media only screen and (max-width: 360px) {
  h4 {
    font-size: 22px;
  }
}

h5 {
  font-size: 30px;
}
@media only screen and (max-width: 900px) {
  h5 {
    font-size: 27px;
  }
}
@media only screen and (max-width: 550px) {
  h5 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 360px) {
  h5 {
    font-size: 20px;
  }
}

h6 {
  font-size: 28px;
}
@media only screen and (max-width: 900px) {
  h6 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 550px) {
  h6 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 360px) {
  h6 {
    font-size: 20px;
  }
}

small {
  font-size: 75%;
}

.hide-medium-only {
  display: block;
}
@media only screen and (max-width: 1023px) {
  .hide-medium-only {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .hide-medium-only {
    display: block;
  }
}

.show-medium-only {
  display: none;
}
@media only screen and (max-width: 1023px) {
  .show-medium-only {
    display: block;
  }
}
@media only screen and (max-width: 640px) {
  .show-medium-only {
    display: none;
  }
}

section {
  padding: 20px;
  min-height: 200px;
}

section.intro {
  padding: 0;
}

.container {
  max-width: 1350px;
  margin: auto;
}

.grid {
  display: grid;
  grid: auto repeat(4, auto) auto/100%;
  grid-template-areas: "nav" "int" "skl" "pfo" "cct" "ftr";
  min-height: 100vh;
}

.nav {
  grid-area: nav;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-item {
  margin: 10px;
  color: #f0f0f0;
  text-decoration: none;
  transition: 0.3s;
}
.nav-item:hover {
  color: #ff7e27;
}
@media only screen and (max-width: 465px) {
  .nav-item {
    margin: 10px 5px;
  }
}
@media only screen and (max-width: 360px) {
  .nav-item {
    font-size: 12px;
  }
}
.nav-item-home {
  margin: 10px 10px 5px 10px;
  background: -webkit-linear-gradient(#ff7e27, #ef233c, #ef233c, #7f005f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 1;
  opacity: 1;
  transition: all 0.3s;
}
.nav-item-home:hover {
  opacity: 0.75;
}
@media only screen and (max-width: 465px) {
  .nav-item-home {
    margin: 10px 5px 0 10px;
    font-size: 22px;
  }
}
.nav-grid {
  display: grid;
  grid: auto/1fr repeat(3, auto) 1fr;
  justify-content: center;
}
.nav-grid-mt {
  display: grid;
  grid: auto/1fr repeat(5, auto) 1fr;
  justify-content: center;
}

.intro {
  grid-area: int;
  display: grid;
  grid: 75vh/1fr;
  min-height: 400px;
  justify-items: center;
  margin: -42px auto 0 auto;
}
.intro-container {
  align-self: center;
}
.intro-bg {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  box-shadow: inset 0px 30px 30px -20px #000, inset 0px -30px 30px -20px #000;
}
.intro-bg-img {
  background-image: url("/assets/BW-Texture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.intro-title {
  margin-top: 0;
  text-align: center;
  background: -webkit-linear-gradient(#ff7e27, #ef233c, #ef233c, #7f005f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-subhead {
  max-width: 440px;
  padding-left: 5px;
  text-align: justify;
  color: #f0f0f0;
}

.connect2 {
  text-decoration: none;
  color: #ff7e27;
}

.skills,
.vision,
.white-bg {
  grid-area: skl;
  background-color: #f0f0f0;
}
.skills-grid,
.vision-grid,
.white-bg-grid {
  display: grid;
  grid: auto/1fr 1fr 1fr;
}
@media only screen and (max-width: 900px) {
  .skills-grid,
.vision-grid,
.white-bg-grid {
    grid: auto auto auto/auto;
  }
}
.skills-bg,
.vision-bg,
.white-bg-bg {
  background-color: #f0f0f0;
}
.skills-list,
.vision-list,
.white-bg-list {
  height: 100%;
}
@media only screen and (max-width: 900px) {
  .skills-list:first-child,
.vision-list:first-child,
.white-bg-list:first-child {
    margin-top: -75px;
  }
}
.skills-list-items,
.vision-list-items,
.white-bg-list-items {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  margin: -75px 10px 20px 10px;
  padding: 15px 25px 35px 45px;
  border-radius: 20px;
  height: 100%;
  position: relative;
}
@media only screen and (max-width: 1150px) {
  .skills-list-items,
.vision-list-items,
.white-bg-list-items {
    padding: 15px 15px 25px 35px;
  }
}
@media only screen and (max-width: 900px) {
  .skills-list-items,
.vision-list-items,
.white-bg-list-items {
    height: auto;
    margin-top: 0;
    margin-bottom: 25px;
  }
}
.skills-list-items li,
.vision-list-items li,
.white-bg-list-items li {
  margin-bottom: 8px;
}
.skills-list-items ul,
.vision-list-items ul,
.white-bg-list-items ul {
  padding-inline-start: 20px;
}
@media only screen and (max-width: 1150px) {
  .skills-list-items ul,
.vision-list-items ul,
.white-bg-list-items ul {
    padding-inline-start: 15px;
  }
}
.skills-header,
.vision-header,
.white-bg-header {
  margin: 15px auto 20px auto;
  padding-bottom: 25px;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;
  margin-left: -20px;
  color: #ef233c;
}
@media only screen and (max-width: 900px) {
  .skills-header,
.vision-header,
.white-bg-header {
    margin: 8px 0 12px -20px;
    padding-bottom: 15px;
  }
}

.portfolio {
  grid-area: pfo;
  background-color: #ef233c;
  padding-bottom: 75px;
}
.portfolio-grid {
  display: grid;
  grid: repeat(2, 250px)/repeat(3, 1fr);
  grid-gap: 8px;
}
@media only screen and (max-width: 750px) {
  .portfolio-grid {
    grid: 250px 180px/1fr 1fr;
  }
}
.portfolio-thumb {
  background-color: #24262d;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.portfolio h2 {
  color: #f0f0f0;
  text-align: center;
  margin-bottom: 16px;
}
.portfolio .portfolio-thumb-text {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
  color: #f0f0f0;
  font-weight: 400;
  text-shadow: 0 0 4px #24262d;
}
.portfolio .portfolio-thumb-text-side {
  text-align: center;
  width: 100%;
}
.portfolio p {
  text-align: center;
  color: #f0f0f0;
}

.mt-casethumb {
  grid-area: 1/1/3/3;
}
@media only screen and (max-width: 750px) {
  .mt-casethumb {
    grid-area: 1/1/2/3;
  }
}
.mt-casethumb-img {
  transition: 0.4s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 900px;
  height: 550px;
  margin-left: -450px;
  /* Half the width */
  margin-top: -255px;
  /* Half the height */
  z-index: 2;
}
@media only screen and (max-width: 900px) {
  .mt-casethumb-img {
    z-index: 0;
    opacity: 0.35;
  }
}
@media only screen and (max-width: 750px) {
  .mt-casethumb-img {
    width: 100%;
    height: auto;
    margin: 0;
    top: 0;
    left: 0;
    overflow: hidden;
  }
}
@media only screen and (max-width: 465px) {
  .mt-casethumb-img {
    width: auto;
    height: 100%;
  }
}
.mt-casethumb-img:hover {
  opacity: 0.15;
  transform: scale(1.075);
}

.illsutration-img {
  width: 500px;
  height: 250px;
  margin-left: -250px;
  /* Half the width */
  margin-top: -125px;
  /* Half the height */
}
@media only screen and (max-width: 750px) {
  .illsutration-img {
    width: auto;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
  }
}

.arch-code {
  grid-area: cct;
  color: #f0f0f0;
  text-align: center;
  z-index: 2;
}
.arch-code-grid {
  display: grid;
  grid: auto/auto auto auto auto;
  justify-content: center;
  grid-gap: 16px;
}
.arch-code-bg {
  background: url("/assets/code-arch-dark.jpg") top center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  opacity: 0.15;
}
.arch-code-black {
  background-color: #24262d;
  z-index: -1;
  position: relative;
  box-shadow: inset 0px 30px 30px -20px #000, inset 0px -30px 30px -20px #000;
}
.arch-code .container {
  max-width: 965px;
  padding-top: 30px;
}
.arch-code h2 {
  color: #ef233c;
  text-align: center;
  margin-bottom: 16px;
  padding-top: 16px;
}

.connect,
.stats {
  grid-area: cct;
  background-color: #f0f0f0;
}
.connect-grid,
.stats-grid {
  display: grid;
  grid: auto/auto auto auto auto;
  justify-content: center;
  grid-gap: 16px;
}
.connect-bg,
.stats-bg {
  background-color: #f0f0f0;
}
.connect-bg h2,
.stats-bg h2 {
  color: #ef233c;
  text-align: center;
  margin-bottom: 16px;
  padding-top: 38px;
}
.connect-icon,
.stats-icon {
  width: 42px;
  height: auto;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin-bottom: 40px;
}
.connect-icon:hover,
.stats-icon:hover {
  opacity: 0.5;
}

.layouts-grid {
  display: grid;
  grid: auto/repeat(3, 1fr);
  border: 1px solid blue;
  margin: 20px;
}
.layouts-grid div img {
  width: 100%;
  border: 1px solid blue;
}

.footer {
  grid-area: ftr;
  background-color: #e3e3e3;
  color: #24262d;
  text-align: center;
  padding: 40px 10px;
}
.footer h6 {
  font-size: 16px;
}

#portfolio {
  position: absolute;
  bottom: -2px;
}

#skills {
  position: absolute;
  top: -55px;
}

.img-1 {
  grid-area: 1/1/9/9;
  z-index: 2;
}
.img-1 img {
  width: 100%;
}

.img-2 {
  grid-area: 1/1/9/9;
  z-index: 3;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.img-2 img {
  width: 100%;
}
.img-2:hover {
  opacity: 0.2;
}

.img-3 {
  grid-area: 3/3/11/11;
  z-index: 5;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.img-3 img {
  width: 100%;
}
.img-3:hover {
  opacity: 0.2;
}

.img-4 {
  grid-area: 3/3/11/11;
  z-index: 4;
}
.img-4 img {
  width: 100%;
}

.mt-overview {
  grid-area: int;
  display: grid;
  grid: auto/50% 50%;
  padding-top: 62px;
}
@media only screen and (max-width: 900px) {
  .mt-overview {
    grid: auto auto/auto;
    padding-top: 10px;
  }
}
.mt-overview-bg {
  background-color: #24262d;
  margin-bottom: -20px;
}
.mt-overview-grid {
  display: grid;
  grid: repeat(8, auto)/repeat(10, 1fr);
  margin-top: 40px;
  max-height: 700px;
  overflow: hidden;
}
@media only screen and (max-width: 900px) {
  .mt-overview-grid {
    order: 2;
  }
}
@media only screen and (max-width: 640px) {
  .mt-overview-grid {
    max-height: 600px;
  }
}
@media only screen and (max-width: 500px) {
  .mt-overview-grid {
    max-height: 500px;
  }
}
@media only screen and (max-width: 465px) {
  .mt-overview-grid {
    max-height: 400px;
  }
}
.mt-overview-container {
  padding: 20px 40px;
}
@media only screen and (max-width: 900px) {
  .mt-overview-container {
    order: 1;
    margin-top: 45px;
  }
}
@media only screen and (max-width: 750px) {
  .mt-overview-container {
    padding: 0;
    margin-top: 45px;
  }
}
.mt-overview-title {
  background: -webkit-linear-gradient(#ff7e27, #ef233c, #ef233c, #7f005f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mt-overview-desc {
  color: #f0f0f0;
}

.mt-objective-title {
  color: #ef233c;
  margin: 55px 0 5px 0;
}

.vision {
  position: relative;
  z-index: 10;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
}

.mt-vision-grid {
  display: grid;
  grid: repeat(14, auto)/repeat(5, 1fr);
  grid-gap: 60px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 1150px) {
  .mt-vision-grid {
    grid-gap: 35px;
  }
}
@media only screen and (max-width: 900px) {
  .mt-vision-grid {
    grid: repeat(15, auto)/repeat(5, 1fr);
    grid-gap: 45px;
  }
}
.mt-vision-title {
  color: #ef233c;
  margin: 35px 0 15px 0;
  text-align: center;
}

.taxonomy {
  grid-area: 1/1/3/3;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 20px;
}
@media only screen and (max-width: 900px) {
  .taxonomy {
    grid-area: 1/1/3/6;
  }
}
.taxonomy img {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  padding: 3px;
}
.taxonomy img:hover {
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}
.taxonomy p {
  margin-bottom: 0;
}
.taxonomy h6 {
  margin-top: 18px;
}

.sketches {
  grid-area: 3/1/5/4;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 20px;
}
@media only screen and (max-width: 900px) {
  .sketches {
    grid-area: 3/1/6/6;
  }
}
.sketches-text {
  column-count: 2;
  column-gap: 24px;
  column-rule: 1px solid #d9d9d9;
}
@media only screen and (max-width: 640px) {
  .sketches-text {
    column-count: 1;
  }
}
.sketches-grid {
  display: grid;
  grid: auto/repeat(13, 1fr);
  grid-gap: 2px;
  position: relative;
}
.sketches h6 {
  margin-top: 18px;
}

.styleguide {
  grid-area: 1/3/3/6;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 20px;
}
@media only screen and (max-width: 900px) {
  .styleguide {
    grid-area: 8/1/10/6;
  }
}
.styleguide-grid {
  display: grid;
  grid: auto 1fr 1fr/repeat(6, 1fr);
  grid-gap: 2px;
}
.styleguide-text {
  grid-area: 1/1/2/7;
  column-count: 2;
  column-gap: 24px;
  column-rule: 1px solid #d9d9d9;
}
@media only screen and (max-width: 640px) {
  .styleguide-text {
    column-count: 1;
  }
}

.mt-gold, .mt-green, .mt-purple, .mt-red, .mt-blue, .mt-orange {
  width: 100%;
  height: 65px;
  margin-top: 20px;
}

.mt-gold {
  background-color: #fdb73b;
}
.mt-green {
  background-color: #25a08c;
}
.mt-purple {
  background-color: #a864a8;
}
.mt-red {
  background-color: #f73a5e;
}
.mt-blue {
  background-color: #0c8ded;
}
.mt-orange {
  background-color: #ff7e27;
}
.mt-roboto {
  font-family: "Roboto Slab", serif;
  font-size: 26px;
  padding-left: 16px;
  line-height: 1.1;
}
.mt-heebo {
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  padding-left: 16px;
  line-height: 1.2;
}
.mt-assets-left {
  grid-area: 3/1/4/4;
  padding-top: 8px;
}
@media only screen and (max-width: 465px) {
  .mt-assets-left {
    grid-area: 3/1/4/7;
  }
}
.mt-assets-right {
  grid-area: 3/4/4/7;
  padding-top: 8px;
}
@media only screen and (max-width: 465px) {
  .mt-assets-right {
    grid-area: 4/1/6/7;
  }
}
.mt-button {
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  padding: 12px 18px;
  margin-right: 12px;
  margin-top: 8px;
  background-color: #25a08c;
  color: #fff;
  border-radius: 4px;
  border: none;
  transition: background 0.5s ease-in-out;
}
.mt-button:hover {
  background-color: #1b7768;
}
.mt-button.back {
  background-color: #fdb73b;
  color: #333;
}
.mt-button.back:hover {
  background-color: #ee9902;
}
.mt-title-sm {
  margin-top: 8px;
}

.ads {
  grid-area: 3/4/5/6;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 20px;
}
@media only screen and (max-width: 900px) {
  .ads {
    grid-area: 6/1/8/6;
  }
}
.ads img {
  width: 100%;
  height: auto;
}
.ads h6 {
  margin-top: 18px;
}

.mocks {
  grid-area: 5/1/12/6;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 20px;
}
@media only screen and (max-width: 900px) {
  .mocks {
    grid-area: 10/1/14/6;
  }
}
.mocks-grid {
  display: grid;
  grid: auto/repeat(6, 1fr);
  grid-gap: 15px;
}
.mocks-grid div {
  max-height: 350px;
  overflow: hidden;
}
.mocks-grid div img {
  border: 1px solid gray;
  width: 100%;
}
.mocks-text {
  column-count: 3;
  column-gap: 24px;
  column-rule: 1px solid #d9d9d9;
}
@media only screen and (max-width: 640px) {
  .mocks-text {
    column-count: 1;
  }
}
.mocks h6 {
  margin-top: 18px;
}

.testing {
  grid-area: 12/2/15/5;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 20px;
}
@media only screen and (max-width: 900px) {
  .testing {
    grid-area: 14/1/16/6;
  }
}

.vision-title {
  grid-area: 1/1/2/4;
  align-content: center;
}

.roles {
  grid-area: pfo;
  display: grid;
  grid: auto/1fr 1fr;
  color: #f0f0f0;
  grid-gap: 80px;
  padding: 40px 40px;
}
@media only screen and (max-width: 900px) {
  .roles {
    grid-gap: 40px;
    padding: 20px 10px 10px 10px;
  }
}
@media only screen and (max-width: 640px) {
  .roles {
    grid: 1fr 1fr/100%;
    grid-gap: 30px;
  }
}
.roles h3 {
  text-align: center;
}
.roles .container {
  padding: 40px 40px 25px 16px;
}
.roles-bg {
  background-color: #24262d;
  box-shadow: inset 0px 25px 25px -25px #000, inset 0px -25px 25px -25px #000;
}
.roles-title {
  text-align: center;
  color: #ef233c;
  padding-top: 16px;
}
.roles-desc {
  color: #8d99ab;
}
.roles h6 {
  color: #f0f0f0;
}

.dev-life {
  grid-area: pfo;
  display: grid;
  grid: auto/50% 50%;
}
@media only screen and (max-width: 900px) {
  .dev-life {
    grid: auto auto/100%;
  }
}
.dev-life-bg {
  background-color: #f0f0f0;
}
.dev-life-container {
  padding: 20px 40px 25px 16px;
}
@media only screen and (max-width: 900px) {
  .dev-life-container {
    padding: 20px 10px 10px 10px;
  }
}
.dev-life-title {
  padding-top: 23px;
  text-align: right;
  color: #ef233c;
}
@media only screen and (max-width: 900px) {
  .dev-life-title {
    text-align: center;
    padding-top: 16px;
  }
}
.dev-life-title-amp {
  display: block;
}
@media only screen and (max-width: 465px) {
  .dev-life-title-amp {
    display: none;
  }
}
.dev-life-desc {
  color: #8d99ab;
}

.stats {
  text-align: center;
  background-color: #f0f0f0;
}
.stats h2 {
  color: #ef233c;
}

.h6-bold {
  font-weight: 400;
}

.closebt {
  cursor: pointer;
  margin: 15px 30px 30px 15px;
  width: 30px;
  transition: all 0.2s;
  filter: invert(70%);
}
@media only screen and (max-width: 465px) {
  .closebt {
    margin: 12px 16px 20px 12px;
  }
}
.closebt:hover {
  transform: rotate(90deg);
}

.close-animatedModal,
.close-layouts-modal,
.close-mt-modal,
.close-tax-modal {
  text-align: right;
}

.modal-content img {
  width: 100%;
  height: auto;
}
.modal-headers {
  text-align: center;
}

.ug-lightbox .ug-lightbox-overlay {
  background-color: rgba(0, 0, 0, 0.9);
}

/*# sourceMappingURL=style.css.map */
