* {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 40px;
  margin-bottom: 3px;
  font-weight: 100;
}

p {
  margin-bottom: 16px;
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 52px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 36px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 28px;
  margin-top: 30px;
}

small {
  font-size: 75%;
}

section, footer {
  padding: 20px;
  min-height: 300px;
}

section.intro {
  padding: 0;
}

.container {
  max-width: 1350px;
  margin: auto;
}

.grid {
  display: grid;
  grid: auto repeat(4, auto) auto/100%;
  grid-template-areas: "nav" "int" "skl" "pfo" "cct" "ftr";
  min-height: 100vh;
}

.nav {
  grid-area: nav;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-item {
  margin: 10px;
  color: #f0f0f0;
  text-decoration: none;
  transition: 0.3s;
}
.nav-item:hover {
  color: #ef233c;
}
.nav-grid {
  display: grid;
  grid: auto/repeat(4, auto);
  justify-content: center;
}

.intro {
  grid-area: int;
  display: grid;
  grid: 75vh/1fr;
  justify-items: center;
  margin: -42px auto 0 auto;
}
.intro-container {
  align-self: center;
}
.intro-bg {
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  margin: 0;
}
.intro-bg-img {
  background-image: url("/assets/BW-Texture.jpg");
}
.intro-title {
  margin-top: -75px;
  text-align: center;
  background: -webkit-linear-gradient(#7f005f, #7f005f, #ef233c, #ef233c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-subhead {
  width: 426px;
  margin-top: 15px;
  padding-left: 5px;
  text-align: justify;
  color: #8d99ab;
}

.connect2 {
  text-decoration: none;
  color: #ef233c;
}

.skills,
.vision,
.white-bg {
  grid-area: skl;
  background-color: #f0f0f0;
}
.skills-grid,
.vision-grid,
.white-bg-grid {
  display: grid;
  grid: auto/1fr 1fr 1fr;
}
.skills-bg,
.vision-bg,
.white-bg-bg {
  background-color: #f0f0f0;
}
.skills-list,
.vision-list,
.white-bg-list {
  height: 100%;
}
.skills-list-items,
.vision-list-items,
.white-bg-list-items {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  margin: -75px 10px 20px 10px;
  padding: 15px 25px 35px 45px;
  border-radius: 20px;
  height: 100%;
  position: relative;
}
.skills-list-items li,
.vision-list-items li,
.white-bg-list-items li {
  margin-bottom: 8px;
}
.skills-header,
.vision-header,
.white-bg-header {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;
  margin-left: -20px;
  color: #ef233c;
}

.portfolio {
  grid-area: pfo;
  background-color: #ef233c;
  padding-bottom: 75px;
}
.portfolio-grid {
  display: grid;
  grid: repeat(2, 250px)/repeat(3, 1fr);
  grid-gap: 8px;
}
.portfolio-thumb {
  background-color: #24262d;
  text-decoration: none;
  overflow: hidden;
  position: relative;
}
.portfolio h2 {
  color: #f0f0f0;
  text-align: center;
  margin-bottom: 16px;
}
.portfolio .portfolio-thumb-text {
  position: absolute;
  top: 38%;
  left: 29%;
  z-index: 1;
  color: #f0f0f0;
  font-weight: 400;
}
.portfolio .portfolio-thumb-text-side {
  top: 27%;
  left: 29%;
}
.portfolio p {
  text-align: center;
  color: #f0f0f0;
}

.mt-casethumb {
  grid-area: 1/1/3/3;
}
.mt-casethumb-img {
  transition: 0.4s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 900px;
  height: 550px;
  margin-left: -450px;
  /* Half the width */
  margin-top: -255px;
  /* Half the height */
  z-index: 2;
}
.mt-casethumb-img:hover {
  opacity: 0.15;
  transform: scale(1.075);
}

.illsutration-img {
  width: 500px;
  height: 250px;
  margin-left: -250px;
  /* Half the width */
  margin-top: -125px;
  /* Half the height */
}

.connect,
.arch-code,
.stats {
  grid-area: cct;
  background-color: #f0f0f0;
}
.connect-grid,
.arch-code-grid,
.stats-grid {
  display: grid;
  grid: auto/auto auto auto auto;
  justify-content: center;
  grid-gap: 16px;
}
.connect-bg,
.arch-code-bg,
.stats-bg {
  background-color: #f0f0f0;
}
.connect-bg h2,
.arch-code-bg h2,
.stats-bg h2 {
  color: #ef233c;
  text-align: center;
  margin-bottom: 16px;
}
.connect-icon,
.arch-code-icon,
.stats-icon {
  width: 42px;
  height: auto;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin-bottom: 40px;
}
.connect-icon:hover,
.arch-code-icon:hover,
.stats-icon:hover {
  opacity: 0.5;
}

.footer {
  grid-area: ftr;
  background-color: #24262d;
  color: #8d99ab;
  text-align: center;
  min-height: 300px;
}
.footer h6 {
  font-size: 16px;
}

#portfolio {
  position: absolute;
  bottom: -2px;
}

#skills {
  position: absolute;
  top: -55px;
}

.img-1 img,
.img-2 img,
.img-3 img,
.img-4 img {
  width: 100%;
}

.img-1 {
  grid-area: 1/1/9/9;
  z-index: 2;
}

.img-2 {
  grid-area: 3/3/11/11;
  z-index: 3;
}

.img-3 {
  z-index: 4;
  display: none;
}

.mt-overview {
  grid-area: int;
  display: grid;
  grid: auto/50% 50%;
  padding-top: 62px;
  padding-bottom: 60px;
}
.mt-overview-bg {
  background-color: #24262d;
}
.mt-overview-grid {
  display: grid;
  grid: repeat(8, auto)/repeat(10, 1fr);
  margin-top: 40px;
}
.mt-overview-container {
  padding: 20px 40px;
}
.mt-overview-title {
  background: -webkit-linear-gradient(#7f005f, #7f005f, #ef233c, #ef233c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mt-overview-desc {
  color: #8d99ab;
}

.mt-objective-title {
  color: #ef233c;
  margin: 55px 0 5px 0;
}

.mt-vision-grid {
  display: grid;
  grid: repeat(14, auto)/repeat(5, 1fr);
  grid-gap: 50px;
  margin-bottom: 40px;
}
.mt-vision-grid div {
  border: 1px solid blue;
}
.mt-vision-title {
  color: #ef233c;
  margin: 35px 0 15px 0;
  text-align: center;
}

.taxonomy {
  grid-area: 1/1/3/3;
}

.sketches {
  grid-area: 3/1/5/4;
  background-color: pink;
}
.sketches-text {
  column-count: 2;
  column-gap: 24px;
  column-rule: 1px solid #d9d9d9;
}
.sketches-grid {
  display: grid;
  grid: auto/repeat(2, 1fr);
  grid-gap: 12px;
}

.styleguide {
  grid-area: 1/3/3/6;
}
.styleguide-grid {
  display: grid;
  grid: repeat(3, auto)/repeat(6, 77px) 2fr 1fr;
}
.styleguide-text {
  grid-area: 1/1/2/9;
  column-count: 2;
  column-gap: 24px;
  column-rule: 1px solid #d9d9d9;
}
.styleguide-heading {
  margin-top: 0;
}

.mt-gold, .mt-green, .mt-purple, .mt-red, .mt-blue, .mt-orange {
  width: 65px;
  height: 65px;
  margin: 12px 12px 12px 0;
}

.mt-gold {
  background-color: #fdb73b;
}
.mt-green {
  background-color: #25a08c;
}
.mt-purple {
  background-color: #a864a8;
}
.mt-red {
  background-color: #f73a5e;
}
.mt-blue {
  background-color: #0c8ded;
}
.mt-orange {
  background-color: #ff7e27;
}
.mt-roboto {
  font-family: "Roboto Slab", serif;
  font-size: 36px;
}
.mt-heebo {
  font-family: "Heebo", sans-serif;
  font-size: 16px;
}
.mt-fonts {
  margin-right: 12px;
}
.mt-assets {
  grid-area: 3/1/4/9;
  padding: 12px 0;
}
.mt-button {
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  padding: 12px 18px;
  margin-right: 12px;
  background-color: #25a08c;
  color: #fff;
  border-radius: 4px;
  border: none;
  transition: background 0.5s ease-in-out;
}
.mt-button:hover {
  background-color: #1b7768;
}
.mt-button.back {
  background-color: #fdb73b;
  color: #333;
}
.mt-button.back:hover {
  background-color: #ee9902;
}

.ads {
  background-color: green;
  grid-area: 3/4/5/6;
}

.mocks {
  background-color: red;
  grid-area: 5/1/12/6;
}
.mocks-grid {
  display: grid;
  grid: auto/repeat(6, 1fr);
}
.mocks-text {
  column-count: 3;
  column-gap: 24px;
  column-rule: 1px solid #d9d9d9;
}

.testing {
  background-color: lightblue;
  grid-area: 12/2/15/5;
}

.vision-title {
  grid-area: 1/1/2/4;
  align-content: center;
}

.dev-life,
.roles {
  color: #f0f0f0;
}
.dev-life h3,
.roles h3 {
  text-align: center;
}
.dev-life .container,
.roles .container {
  max-width: 700px;
}

.dev-life,
.roles {
  grid-area: pfo;
  display: grid;
  grid: auto/50% 50%;
}
.dev-life-bg,
.roles-bg {
  background-color: #24262d;
}
.dev-life-container,
.roles-container {
  padding: 40px 40px 25px 16px;
}
.dev-life-title,
.roles-title {
  text-align: right;
  color: #ef233c;
}
.dev-life-desc,
.roles-desc {
  color: #8d99ab;
}

.arch-code h2,
.stats h2 {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
