* {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 52px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 36px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 28px;
}

small {
  font-size: 75%;
}

section, footer {
  padding: 20px;
}

section.intro {
  padding: 0;
}

.grid {
  display: grid;
  grid: auto repeat(4, auto) auto/100%;
  grid-template-areas: "nav" "int" "skl" "pfo" "cct" "ftr";
  min-height: 100vh;
}

.nav {
  grid-area: nav;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-item {
  margin: 10px;
  color: #f9f9f9;
  text-decoration: none;
  transition: 0.3s;
}
.nav-item:hover {
  color: #ef233c;
}
.nav-grid {
  display: grid;
  grid: auto/repeat(4, auto);
  justify-content: center;
}

.intro {
  grid-area: int;
  display: grid;
  grid: 95vh/1fr;
  justify-items: center;
  background-color: #24262d;
  margin-top: -42px;
}
.intro-container {
  align-self: center;
}
.intro-title {
  margin-top: -75px;
  text-align: center;
  background: -webkit-linear-gradient(#7f005f, #7f005f, #ef233c, #ef233c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-subhead {
  width: 426px;
  margin-top: 15px;
  padding-left: 5px;
  text-align: justify;
  color: #8d99ab;
}

.skills {
  grid-area: skl;
  background-color: #f9f9f9;
}
.skills-grid {
  display: grid;
  grid: auto/1fr 1fr 1fr;
}
.skills-list {
  height: 100%;
}
.skills-list-items {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  margin: -75px 10px 20px 10px;
  padding: 15px 25px 35px 45px;
  border-radius: 20px;
  height: 100%;
  position: relative;
}
.skills-list-items li {
  margin-bottom: 8px;
}
.skills-header {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  margin-left: -20px;
  color: #ef233c;
}

.portfolio {
  grid-area: pfo;
  background-color: #ef233c;
}
.portfolio-grid {
  display: grid;
  grid: repeat(2, 200px)/repeat(4, 1fr);
  grid-gap: 1px;
}
@media only screen and (max-width: 600px) {
  .portfolio-grid {
    grid: repeat(4, 200px)/repeat(2, 1fr);
  }
}
.portfolio-thumb {
  background-color: #f9f9f9;
}
.portfolio h2 {
  color: #f9f9f9;
  text-align: center;
  margin-bottom: 16px;
}

.connect {
  grid-area: cct;
  background-color: #f9f9f9;
}
.connect-grid {
  display: grid;
  grid: 300px/400px 100px 100px 100px;
  justify-content: center;
}
@media only screen and (max-width: 750px) {
  .connect-grid {
    grid: 300px/1fr 80px 80px 80px;
    margin: auto 20px;
  }
}
.connect-grid div {
  border: 1px solid purple;
}
.connect h2 {
  color: #ef233c;
  text-align: center;
  margin-bottom: 16px;
}

.footer {
  grid-area: ftr;
  background-color: #24262d;
  color: #8d99ab;
  text-align: center;
}
.footer h6 {
  font-size: 16px;
}

#portfolio {
  position: absolute;
  bottom: -2px;
}

#skills {
  position: absolute;
  top: -55px;
}

/*# sourceMappingURL=style.css.map */
